@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;  
  font-family: 'Caveat', ;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0b055f;
  width: 80vw;
  margin: 20px;
  border-radius: 8px;
}

.form {
  background-color: #ccc5c5;
  width: 40vw;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 50px;
  border-radius: 8px;
}

.formTitle {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.formLabel {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.formInput {
  padding: 0px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #ccc5c5;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.formInput:focus {
  outline: none;
}

.formError {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submitBtn {
  background-color: #0b055f;
  color: white;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
}

.submitBtn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.logo {
  margin-top: 10px;
}
