 @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap');

 .navbar {
   background-color: #0b055f;
   height: 160px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-radius: 8px;
 }
 
 .logo {
   padding-top: 5px;
 }
 
 .text {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
 }
 
 .navbar p {
   color: white;
   font-family: 'Caveat', cursive;
   font-size: 55px;
 }
 
 .navbar a {
   text-decoration: none;
   color: white;
   font-weight: bold;
   font-size: 20px;
   font-family: 'Caveat', cursive;
 }
 
 .log {
  display: flex;
 }

 .signup,
 .login {
   display: flex;
   justify-content: flex-end;
   flex-direction: row;
   align-items: flex-end;
   padding: 10px;
 }
 
 .navbar a:hover {
   color: blue;
 }
 
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropdownText {
   cursor: pointer;
   color: white;
   font-weight: bold;
 }
 
 .dropdownContent {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 .dropdownContent div {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   cursor: pointer;
 }
 
 .dropdownContent div:hover {
   background-color: #f1f1f1;
 }
 
 .dropdownContent button {
   background-color: transparent;
   border: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   cursor: pointer;
 }
 
 .dropdownContent button:hover {
   background-color: #f1f1f1;
 }
 