.table {
  width: 100%;
}

.table td {
  padding: 3px;
}

.table label {
  font-weight: bold;
  display: block;
  text-align: left;
  margin-bottom: 3px;
}

.table input {
  width: 100%;
  padding: 3px;
  border-radius: 4px;
  box-sizing: border-box;
}

